body {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    font-weight: bold;
}

.description {
    text-align: center;
    color: #fff;
}

.btn {
    background-color: salmon;
    font-size: 18px;
    padding: 6px 12px;
}

.frm {
    background-color: bisque;
    padding: 50px;
}

input {
    padding: 11px 18px;
    background-color: rgb(235, 197, 197);
}

.title2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.section-two {
    margin-top: 20px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

.food {
    padding-right: 40%;
}

.title-header {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    margin: 5px;
}

.card1 {
    width: 300px;
    height: 200px;
    border: 1px solid salmon;
    text-align: center;
    padding: 20px;
    background-color: rgb(248, 230, 208);
}

.paragraph {
    text-align: left;
    font-family: sans-serif;
}

.card2 {
    width: 300px;
    height: 200px;
    border: 1px solid salmon;
    text-align: center;
    padding: 20px;
    background-color: rgb(174, 223, 207);
}

.shelter {
    text-align: left;
}

.card3 {
    width: 300px;
    height: 200px;
    border: 1px solid salmon;
    text-align: center;
    padding: 20px;
    background-color: rgb(243, 223, 110);
}

.education {
    text-align: left;
}

.right-banner {
    display: flex;
    padding: 80px 135px;
}

.link-button {
    text-decoration: none;
    background-color: salmon;
    padding: 10px 40px;
}

.left-banner {
    display: flex;
    padding: 80px 135px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 90%;
    padding-right: 60px;
}

.link-button {
    text-decoration: none;
    background-color: salmon;
}

.red-color {
    color: #ff0000;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

.donate {
    padding: 135px 0px;
    text-align: center;
}

.donate h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    width: 826px;
    margin: 0 auto;
    color: #ffffff;
    margin-bottom: 20px;
}

.donate p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    width: 691px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.donate h1 {
    font-size: 45px;
    color: #121212;
}

.donate p {
    font-weight: 400;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 28px;
    color: #0b0d17
}

.donation-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-box {
    background: #fafafa;
    border-radius: 5px;
    margin-right: 22px;
    padding: 44px 23px;
}

.donation-box h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    color: #707070;
}

.colored {
    background: #ffeeee;
    border: 2px solid #ff5959;
    border-radius: 5px;
    color: #ff5959;
}

.updates {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.header {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin: 10px;
}

.red-color {
    font-family: "Lobster", cursive;
}

footer {
    background-color: #0b0d17;
    padding: 80px 100px;
}

footer .heading {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #ff5959;
    margin-bottom: 10px;
}

footer p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
}